<div class="footer">
    <div class="footer__disclaimer">
        <p>2025 &copy;  <b>Studio Centauri | IITK</b> Developed & Maintaned by <b>Game Development Club IITK</b></p>
    </div>
    <div class="footer__social">
        <ul>
            <li><a href = 'https://www.facebook.com/gamedev.iitk'><i class="fab fa-facebook"></i></a></li>
            <li><a href = 'https://www.youtube.com/channel/UCMa7EugzVF_YF5DACUKRTJw'><i class="fab fa-youtube"></i></a></li>
            <li><a href = 'https://github.com/studiocentauri'><i class="fab fa-github"></i></a></li>
            <li><a href = 'https://www.linkedin.com/company/game-development-club-iitk/'><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
