<div class="header">
    <div class="header__logo">
        <a href = '/'>
        <img src="https://i.postimg.cc/XNZmz9WF/temp-Image8-RGe-Zd.avif" alt="Studio Centauri logo">
        </a>
    </div>

    <div class="header__nav">
        <ul>
            <li><a href = '/'>Home</a></li>
            <li><a href = '/about'>About</a></li>
            <li><a href = '/contact'>Contact Us</a></li>
            <li><a href = '/roadmaps'>Roadmaps</a></li>
            <li><a href = '/games'>Games</a></li>
        </ul>
    </div>

    <div class="header__search">
        <form action="/search" method="get">
            <input type="text" name="search" placeholder="Search..">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
